#include <behaviors.dtsi>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &transform;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-mock";
        columns = <1>;
        rows = <1>;
        events = <0>;
    };

    transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <1>;
        columns = <1>;
        /* 直接写 0，或者 MATRIX_KEY(0, 0)，避免触发 modifiers.h 中的 RC 宏冲突 */
        map = <0>;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default";
            bindings = <
                &none
            >;
        };
    };
};
